<h1>Hacker News: The site where you provide the news</h1>
<a href='/create_post' id="create_post">Post a Link</a>
<ol id="posts_list">
  <% @posts.each do |post| %>
  <%= erb :_single_post, layout: false, locals: {post: post} %>
  <% end %>
</ol>
