<h1><%= @user.name %></h1>
<ul>
  <li>
    User account created: <%= @user.created_at %>
  </li>
  <li>
    <a href='/user/<%= @user.id %>/posts'>Posts</a>
  </li>
  <li>
    <a href='/user/<%= @user.id %>/comments'>Comments</a>
  </li>
</ul>
